<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="static/style.css">
</head>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<body id="main">
    {% if signup_success %}
<script>
    signup();
</script>
{% endif %}
    <header>
        <h1>Job Portal</h1>
    </header>
   
<main>
    <section>
        <h2>Signup</h2>
<form action="/signup" method="post">
<input type="text" name="name" placeholder="Name"requred="true"class="text"><br>
<input type="email" name="email" placeholder="Email"class="text"required="true"><br>
<input type="password" name="password" placeholder="Pass"class="text"required="true"><br>
<input type="submit" value="Signup"id="sgn">
</form>
    </section>

   <section>
    <h2>Login</h2>
<form action="/login" method="post">
<input type="email" name="email"required="true"placeholder="email"><br>
<input type="password" name="password"required="true"placeholder="password"><br>
<input type="submit" value="Login">
</form>
   </section>
</main>
</body>
</html>